html {
    scroll-behavior: smooth;
}

body, h1, h2, p, address, a, button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}

body {
    font-family: Raleway, sans-serif;
    background: url(images/background1.png) no-repeat top center #f9f8fb;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.site-header {
    padding-top: 45px;
}

.site-header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.site-header .site-logo {
    font-family: Pacifico, cursive;
    font-weight: 400;
    font-size: 50px;
    margin: 0;
}

.site-header .main-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.site-header .main-menu-item a {
    color: #262626;
    text-decoration: none;
    display: block;
    border-top: 3px solid transparent;
    padding-top: 5px;
    transition: border-top-color 0.2s;
    margin-right: 35px;
    font-size: 16px;
}

.site-header .main-menu-item a:hover {
    border-top-color: #ff6033;
}

.site-header .main-menu-item.active a {
    border-top-color: #ff6033;
}

.site-header .main-menu-item.active a:hover {
    border-top-color: #992200;
}

.site-header .main-menu-item:last-child a {
    margin-right: 0;
}

.section-fresh {
    height: 900px;
    display: flex;
    align-items: stretch;
    position: relative;
}

.section-fresh::after {
    content: url(images/scroll.png);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 70px;
}

.section-fresh .container {
    padding-bottom: 200px;
    display: flex;
    align-items: center;
}

.section-fresh .section-fresh-content {
    max-width: 380px;
}

.section-fresh .section-fresh-title {
    font-size: 60px;
    font-weight: 900;
    margin: 0;
}

.section-fresh .section-fresh-text {
    margin: 30px 0;
    font-size: 17px;
    line-height: 27px;
}

.section-fresh .section-fresh-action {
    text-transform: uppercase;
    font-weight: 300;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    height: 55px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    border: none;
    background: #ff6033;
    color: white;
    box-shadow: 0 20px 30px rgba(255, 96, 51, 0.3);
}

/* section about */
.section-about {
    padding: 30px 0;
    background-color: rgba(0, 178, 178, 255);
}

.section-about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-about .section-about-content{
    color: #fff;
    margin-left: 40px;
}

.section-about .section-about-image img {
    width: 450px;
}

.section-about .section-about-title {
    margin: 0;
    font-weight: 700;
    font-size: 70px;
}

.section-about .section-about-text {
    margin: 0;
    font-size: 14px;
    line-height: 25px;
}

.section-about .section-about-text:last-child {
    padding-top: 10px;
}

/* section services */
.section-services {
    background-color: #70c0ff;
}

.section-services .container {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-services .section-services-buttons {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 43%;
}

.section-services .section-services-image {
    position: relative;
    width: 57%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-services .section-services-btn-conatainer {
    margin: 8px 0;
    background-color: #fff;
    width: 300px;
    display: flex;
}

.section-services .section-services-btn-conatainer:first-child {
    box-shadow: 0 15px 20px 5px rgba(0, 0, 0, .2);
}

.section-services .section-services-btn-conatainer label {
    padding: 20px 30px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    width: 80%;
    line-height: 32px;
}

.section-services .section-services-btn-conatainer .label--line-height {
    line-height: 20px;
}

.section-services .section-services-button {
    margin: 0 auto;
    padding: 20px 35px;
    width: 20%;
    background-color: transparent;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    border: 0;
    border-left: 1px solid rgba(0, 0, 0, .4);
}

.section-services .section-services-btn1 {
    background-image: url('./images/icon-cart.png');
}

.section-services .section-services-btn2 {
    background-image: url('./images/icon-hand.png');
}

.section-services .section-services-btn3 {
    background-image: url('./images/icon-world.png');
}

.section-services .section-services-btn4 {
    background-image: url('./images/icon-carrot.png');
}

.section-services .section-services-image-title {
    position: absolute;
    color: #fff;
    font-size: 70px;
    text-align: center;
}

.section-services .section-services-image {
    margin-left: 100px;
}

.section-services .section-services-image img {
    width: 400px;
}

/* section gallery */
.section-gallery {
    background-color: #fee92e;
}

.section-gallery .container {
    padding: 30px 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-gallery .section-gallery-title {
    margin-bottom: 20px;
    font-size: 80px;
}

.section-gallery .section-gallery-text {
    margin-bottom: 40px;
    width: 65%;
    line-height: 1.5;
    text-align: center;
    word-spacing: 2px;
}

.section-gallery .section-gallery-images {
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "one one one one two two"
    "one one one one two two"
    "one one one one three three"
    "one one one one three three"
    "four four four five five five"
    "four four four five five five";
}

.section-gallery .one {
    grid-area: one;
    width: 100%;
}

.section-gallery .two {
    grid-area: two;
    width: 100%;
}
.section-gallery .three {
    grid-area: three;
    width: 100%;
}
.section-gallery .four {
    grid-area: four;
    width: 100%;
}
.section-gallery .five {
    grid-area: five;
    width: 100%;
}

.section-gallery .section-gallery-btn {
    margin-top: 40px;
    padding: 13px 30px;
    color: #eee;
    text-transform: uppercase;
    background-color: #5685a3;
    border: 0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .4);
}

/* section subscribe */
.section-subscribe {
    background-color: #fff;
    background-image: url('./images/background4.png');
    background-repeat: no-repeat;
    background-position: 90% 50%;
}

.section-subscribe .container {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-subscribe .section-subscribe-title {
    margin: 0 0 20px;
    font-size: 36px;
    letter-spacing: 1px;
}

.section-subscribe .section-subscribe-text {
    margin-bottom: 20px;
    width: 60%;
    line-height: 1.5;
}

.section-subscribe .btns-container {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.section-subscribe .section-subscribe-input {
    padding: 15px 10px; 
    width: 67%;
    border-radius: 0;
    border: 1px solid #000;
}

.section-subscribe .section-subscribe-input::placeholder {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, .3);
}

.section-subscribe .section-subscribe-btn {
    margin: 0 auto;
    padding: 15px 20px;
    font-size: 22px;
    text-transform: uppercase;
    color: #eee;
    font-weight: lighter;
    background-color: #97ba2c;
    border: 0;
    box-shadow: 0 15px 20px 5px rgba(151, 186, 44, .3);
}


.site-footer {
    background: #262626;
    color: white;
}

.site-footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.site-footer .footer-author, .site-footer .footer-copyright, .site-footer .footer-logo {
    margin: 0;
    flex: 1;
}

.site-footer .footer-copyright {
    font-style: normal;
}

.site-footer .footer-logo {
    font-family: Pacifico, cursive;
    font-weight: 600;
    text-align: center;
}

.site-footer .footer-author {
    text-align: right;
}

.site-footer .footer-author strong {
    color: #ff6033;
}
